.btn {
    padding: 10px 20px;
    border-radius: 0;
    border: 0;
    font-family: $font-family-bold;
    text-transform: uppercase;
    transition: all .3s ease;
}

.btn-blue {
	color: #FFF;
	background: $blue-light;
	&:visited, &:focus {
		color: #FFF;
		background: $blue-light;		
	}
	&:hover, &:active {
		color: #FFF;
		background: $blue;
	}
}