
.hero-home {
    position: relative;    
    @media (min-width: $screen-sm-min) {
        height: 400px;
        overflow: hidden;
    }
    @media (min-width: $screen-md-min) {
        height: 440px;
    }
    @media (min-width: 1274px) {
        height: 500px;
    }
    picture {
        width: 100%;
        z-index: index($elements, hero-picture);
        @media (min-width: $screen-sm-min) {
            position: absolute;
            width: auto;
            height: 200px;
            bottom: 100px;
            left: 50%;
            margin-left: -874px;
        }       
        @media (min-width: $screen-md-min) {
            height: 300px;
            margin-left: -1310px;
            bottom: 60px;
        }
        @media (min-width: 1274px) {            
            height: 400px;  
            margin-left: -1747px; 
            bottom: 30px;     
        }
    }
}

.hero-disclaimer {
    @include clearfix;
    width: 100%;
    padding: 6px 10px;
    bottom: 0;
    line-height: 22px;
    z-index: index($elements, hero-disclaimer);
    @media (min-width: $screen-sm-min) {
        position: absolute;
        padding: 6px 20px
    }
    > div {
        max-width: 1318px;
        margin: 0 auto;
    }
}

.hero-text-wrapper {
    @media (min-width: $screen-sm-min) {
        position: absolute;
        width: 100%;
        z-index: index($elements, hero-text-wrapper);
    }
    h3 {
        margin: 0 0 10px;
    }
} //.hero-text-wrapper

.hero-text {
    position: relative;
    max-height: 0;
    font: italic normal 18px/26px Metropolis-Light, sans-serif;
    color: $blue;
    overflow: hidden;
    transition: transform .8s .5s cubic-bezier(0.680, -0.550, 0.265, 1.550), opacity 1s .5s ease, max-height .4s ease, padding .4s ease;    
    &.reveal {
        max-height: 360px;
        padding: 10px;
        @media (min-width: $screen-sm-min) {
            padding: 20px;
            transform: scale(1);
            opacity: 1;
        }
    }  
    @media (min-width: $screen-sm-min) {
        position: absolute;
        max-height: none;
        padding: 20px; 
        top: 0px;
        transform: scale(0);
        opacity: 0;            
    }       
    @media (min-width: $screen-lg) {    
        width: 70%;        
        margin: auto 15%;                
    }
}




//___________________________________________ No CSS Support  _____________________________________//

html.css-notransforms {
    .hero-text-wrapper {
        > div {
            @media (min-width: $screen-sm-min) {            
                display: none;
            }
            &.reveal {
                display: block;
            }
        }
    }
}