.navbar-toggle {
    margin: 12px 6px 12px 0;
    padding: 6px;
    background: $brand-primary;
    border-radius: 0;
    color: #FFF;
}

.nav-outer {
    background: $gray;
    @media (min-width: $screen-sm-min) {
        background: $brand-primary;
    }
}

nav {
    text-align: center;
    @media (max-width: $screen-sm-min) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


.nav {
    margin: 0;
    > li {
        margin: 0;
        padding: 0;
        &:before {
            display: none;
        }
        > a {
            color: #FFF;
        }
    }    
}




.navbar-collapse {
    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
     li {
        > a {
            font-family: $font-family-condensed;
            text-transform: uppercase;
            border-radius: 0;
            &:focus, &:hover {
                background: $gray-dark;
                @media (min-width: $screen-sm-min) {
                    background: $nav-link-hover-bg;
                }
            }
        }
    }
}


.nav-pills {
    > li {
        float: none;
        @media (min-width: $screen-sm-min) {
            float: left;
        }
        &.active > a {
            color: $brand-primary;
            background: none;
            &:focus, &:hover {
                background: $gray-dark;
            }
            @media (min-width: $screen-sm-min) {
                color: $brand-primary;
                background: #FFF;
                &:focus, &:hover {
                    background: $nav-link-hover-bg;
                }
            }
        }

        a {
            border-radius: 0;
        }
    }

}

.icon-home {   
    margin: 4px;
    @media (min-width: $screen-sm-min) {
        float: left;
        margin-right: 20px;
    }
    svg {
        width: 30px;
        height: 30px;
        fill: #FFF;
    }
}