.main-nav {
    text-align: center;
    @media (max-width: $screen-sm-min) {
        padding-top: 20px;
        padding-bottom: 20px;
    }    
    > ul {
        > li {
            @media (min-width: $screen-sm-min) {
                display: inline-block;
                float: none;
            }
            > a {
                text-transform: uppercase;
                &:focus, &:hover {
                    background: $gray-dark;
                    @media (min-width: $screen-sm-min) {
                        background: $brand-primary--dark;
                    }
                }
            }
            > ul {
                max-height: 0px;
                background: $blue;
                text-align: left;
                transition: transform .4s cubic-bezier(.33,.19,.73,.97), max-height .4s cubic-bezier(.33,.19,.73,.97);
                @media (min-width: $screen-sm-min) {
                    position: absolute;
                    max-height: none;
                    min-width: 220px;
                    max-width: 400px;
                    top: 100%;
                    left: 0;
                    z-index: index($elements, 'sub-menu');
                    transform: scaleY(0);
                    transform-origin: left top;                    
                }                
                a {
                    display: block;
                    padding: 10px 15px;
                    opacity: 0;
                    transform: translateY(80%);
                    transition: color .3s ease, transform .4s .3s ease, opacity .4s .3s ease;                    
                    &:focus, &:hover {
                        color: $brand-primary--light;
                        @media (min-width: $screen-sm-min) {
                            background: none;
                        }
                    }                      
                }
                > li {
                    &:first-of-type {
                        margin: 10px 0 0;
                    }
                    &:last-of-type {
                        margin: 0 0 10px;
                    }
                }
            } 
            &.open {
                > ul {
                    max-height: 120px;
                    transform: scaleY(1);
                    a {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                > a, > a:focus, > a:hover{
                    background: $gray-dark;
                    @media (min-width: $screen-sm-min) {
                        background: $brand-primary--dark;
                    }                    
                }                
            }           
        } // > li
    } // > ul  
     li {
        > a {
            font-family: $font-family-condensed;            
            border-radius: 0;

        }
    }    
} // .main-nav


.navbar-toggle {
    margin: 12px 6px 12px 0;
    padding: 6px;
    background: $brand-primary;
    border-radius: 0;
    color: #FFF;
}

.nav-outer {
    background: $gray;
    @media (min-width: $screen-sm-min) {
        background: $brand-primary;
    }
}

.nav {
    margin: 0;
    ul {
        margin: 0;
        overflow: hidden;
    }
     li {
        margin: 0;
        padding: 0;
        &:before {
            display: none;
        }
         a {
            color: #FFF;
        }

    }    
}



.icon-home {   
    display: inline-block;
    margin: 4px;
    @media (min-width: $screen-sm-min) {
        margin-right: 20px;
    }
    svg {
        width: 30px;
        height: 30px;
        fill: #FFF;
    }
}


//___________________________________________ No CSS Support  _____________________________________//


html.no-csstransforms {

    .main-nav {
        > ul {
            > li {
                > ul {
                    display: none;
                }
                .open {
                    > ul {
                        display: block;
                    }
                }
            }
        }
    } 

}