// Grid
$screen-lg: 1368px;
$container-lg: 1338px;

// Colors
$brand-primary: #f58100; //Orange
$brand-primary--light: #f1a44e;
$brand-primary--dark: #cc6e06;
$gray: #bbbfc0;
$gray-light: #eef1f2;
$gray-dark: #9ea2a3;
$blue: #00577d;
$blue-light: #0278ab;

// Fonts
$font-size-base: 16px;
$font-family-sans-serif:  Metropolis-Regular, sans-serif;
$font-family-light: Metropolis-Light, sans-serif;
$font-family-condensed: HelveticaNeue-CondensedBold, sans-serif;
$font-family-bold: Metropolis-SemiBold, sans-serif;

$line-height-base: 1.75;



